black==22.1.0
brotlipy==0.7.0
certifi==2021.10.8
cffi
charset-normalizer
click==8.0.4
conda==4.11.0
conda-content-trust
conda-package-handling
cryptography
idna
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.1
pycosat==0.6.3
pycparser
pyOpenSSL
PySocks
requests
ruamel-yaml-conda
six
tomli==2.0.1
tqdm
typing_extensions==4.1.1
urllib3==1.26.7
